.game-title-board {
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.378);
}
.game-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0 10rem;
  background-color: rgba(245, 245, 220, 0.406);
  transition: all 0.3s linear;
}
.status span {
  flex: 1;
  text-align: center;
  font-size: 2rem;
}

.board-player-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.board {
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  position: relative;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  margin: 0 auto;
  padding: 3px;
  width: min(85vh, 85vw);
  margin-top: min(2vh, 2vw);
  margin-bottom: min(5vh, 5vw);
  padding: 3%;
  background-color: rgba(132, 165, 250, 0.8);
  gap: 15px;
  transition: all 0.3s linear;
}

.board-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 400px;
}

.brick {
  border: 1px solid black;
  box-shadow: inset 5px 5px 5px black;
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}
.new-brick {
  animation: brick-animation 0.2s ease-out; /* Animate the new brick */
}
.brick:hover {
  filter: brightness(1.5);
}
@keyframes brick-animation {
  0% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0);
  }
}

 @media screen and (max-width: 700px) {
  .board {
    gap: 4px;
    width: min(95vh, 95vw);
    box-shadow: 2px 5px 2px black;
  }
  .status {
    padding: 0 0.5rem;
    font-size: 1.1rem;
  }
  .status span {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  .status {
    padding: 0 2rem;
    font-size: 1.3rem;
  }
  .status span {
    font-size: 1.6rem;
  }
} 

 
@media screen and (orientation: landscape) and (max-width: 700px) {
  .board-buttons button {
    padding: 0.5rem 1rem; 
    font-size: 0.9rem;    
    width: 90%;           
    max-width: 200px;     
  }
  .board {
    width: min(75vh, 95vw);  
    gap: 3px;                
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 2%;
    box-shadow: 1px 3px 2px black; 
  }

  .board-player-img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
}