.game-title-board {
  color: white;
  font-size: 2em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.378);
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}
.board {
  border: 2px solid black;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  position: relative;
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  margin: 0 auto;
  padding: 3px;
  width: min(85vh, 85vw);
  margin-top: min(2vh, 2vw);
  margin-bottom: min(5vh, 5vw);
  padding: 3%;
  background-color: var(--primary-color);
  gap: 15px;
}
@media screen and (max-width: 600px) {
  .board {
    gap: 4px;
    width: min(95vh, 95vw);
  }
}
.board-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 400px;
}

.brick {
  border: 1px solid black;
  box-shadow: inset 5px 5px 5px black;
  position: relative;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
}
.brick:hover {
  filter: brightness(1.5);
}
