/* Google Fonts - Roboto and Rock Salt */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap");

/* box-sizing (inlcude padding and borders in widths and heights */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equal columns */
  aspect-ratio: 7/6;
  margin: 0 auto;
  padding: 3px;
  width: min(70vh, 70vw);
  margin-top: min(5vh, 5vw);
  margin-bottom: min(5vh, 5vw);
  border-bottom: 1px solid #fcfcfc;
  border-left: 1px solid #fff;
  background-color: rgb(40, 56, 98);
  gap: 5px;
}

.column {
  aspect-ratio: 1/1;
  background-color: rgb(45, 132, 194);
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}
