.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.winner-content {
  background-color: rgba(255, 255, 255, 0.48);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.prize-avatar {
  width: 15rem;
  margin-top: -2rem;
}
.draw-avatar {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  opacity: 0.5;
}
.winner-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.winner-content h1 {
  text-transform: capitalize;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .winner-content h1 {
    font-size: 2.5rem;
  }
  .prize-avatar {
    width: 15rem;
  }
  .draw-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
}
